<div class="row">

  <div class="col">
    <h1>*ngIf</h1>
    <hr>
    <div *ngIf="mshow" class="card text-white bg-primary mb-3" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{ sentence.author }}</h5>
        <p class="card-text">{{ sentence.message }}</p>
      </div>
    </div>
    <button (click)="mshow = !mshow" class="btn btn-outline-primary btn-block">show/hide</button>
  </div>

  <div class="col">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let character of characters; let i = index" class="list-group-item">
        {{ i+1 }}. {{ character }}
      </li>
    </ul>
  </div>

</div>
