<ion-header>
  <ion-navbar color="primary">
    <ion-title>New List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      tasks to be done
    </ion-list-header>

    <ion-item>
      <ion-label floating>New item</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list>
    <button ion-item detail-none>
      <ion-icon name="square-outline" item-start></ion-icon>
      Save the world
    </button>
  </ion-list>

</ion-content>
