<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ list.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      tasks to be done
    </ion-list-header>

    <ion-item>
      <ion-label floating>New item</ion-label>
      <ion-input [(ngModel)]="nameItem" type="text" (keyup.enter)="addItem()"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="list.items.length> 0">
    <ion-list-header>tasks to be done</ion-list-header>

    <ion-item-sliding *ngFor="let item of list.items; let i= index"
      class="animated fadeInDown">
      <button ion-item detail-none
        (click)="updateTask(item)">
        <ion-icon *ngIf="item.completed" name="checkbox-outline" item-start></ion-icon>
        <ion-icon *ngIf="!item.completed" name="square-outline" item-start></ion-icon>
        {{ item.description }}
      </button>

      <ion-item-options side="right">
        <button (click)="delete(i)" ion-button icon-only color="danger">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
