<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ list.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      tasks to be done
    </ion-list-header>

    <ion-item>
      <ion-label floating>New item</ion-label>
      <ion-input [(ngModel)]="nameItem" type="text" (keyup.enter)="addItem()"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="list.items.length> 0">
    <ion-list-header>tasks to be done</ion-list-header>
    <button ion-item detail-none class="animated fadeInDown"
      (click)="updateTask(item)"
      *ngFor="let item of list.items">
      <ion-icon *ngIf="item.completed" name="checkbox-outline" item-start></ion-icon>
      <ion-icon *ngIf="!item.completed" name="square-outline" item-start></ion-icon>
      {{ item.description }}
    </button>
  </ion-list>

</ion-content>
