<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Product</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ name }}</td>
        <td>uppercase</td>
        <td>{{ name | uppercase }}</td>
      </tr>
      <tr>
        <td>{{ name }}</td>
        <td>lowercase</td>
        <td>{{ name | lowercase }}</td>
      </tr>
      <tr>
        <td>{{ name }}</td>
        <td>slice:3</td>
        <td>{{ name | slice:3 }}</td>
      </tr>
      <tr>
        <td>{{ name }}</td>
        <td>slice:0:3</td>
        <td>{{ name | slice:0:3 }}</td>
      </tr>
      <tr>
        <td>{{ numbers }}</td>
        <td>slice:1:5</td>
        <td>{{ numbers | slice:1:5 }}</td>
      </tr>
      <tr>
        <td>{{ PI }}</td>
        <td>number:'1.0-2'</td>
        <td>{{ PI | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ a }}</td>
        <td>percent</td>
        <td>{{ a | percent }}</td>
      </tr>
      <tr>
        <td>{{ a }}</td>
        <td>percent:'2.2-2'</td>
        <td>{{ a | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>currency</td>
        <td>{{ salary | currency }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>currency:'COP'</td>
        <td>{{ salary | currency:'COP' }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>currency:'COP':'symbol-narrow'</td>
        <td>{{ salary | currency:'COP':'symbol-narrow' }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>currency:'COP':'symbol-narrow':'4.0-0'</td>
        <td>{{ salary | currency:'COP':'symbol-narrow':'4.0-0' }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>number:'.2-2'</td>
        <td>{{ salary | number:'.2-2' }}</td>
      </tr>
      <tr>
        <td>{{ promiseValue }}</td>
        <td>async</td>
        <td>{{ promiseValue | async }}</td>
      </tr>
      <tr>
        <td>{{ dateRecord }}</td>
        <td>date</td>
        <td>{{ dateRecord | date }}</td>
      </tr>
      <tr>
        <td>{{ dateRecord }}</td>
        <td>date:'medium'</td>
        <td>{{ dateRecord | date:'medium' }}</td>
      </tr>
      <tr>
        <td>{{ dateRecord }}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{ dateRecord | date:'MMMM - dd' }}</td>
      </tr>
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let number of numbers | slice:5:20">
      {{ number }}
    </li>
  </ul>

  <h4>JSON</h4>
  <pre>
      {{ hero | json }}
  </pre>

</div>
